samples/bookmark-javaee6/src/wsdl/localhost_8080/bookmark-javaee6/BookmarkWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gf2wls.samples.oracle.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gf2wls.samples.oracle.com/" name="BookmarkWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://gf2wls.samples.oracle.com/" schemaLocation="http://localhost:8080/bookmark-javaee6/BookmarkWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<portType name="BookmarkWebService">
<operation name="edit">
<input wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/edit" message="tns:edit"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/countRequest" message="tns:count"/>
<output wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/findRequest" message="tns:find"/>
<output wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://gf2wls.samples.oracle.com/BookmarkWebService/create" message="tns:create"/>
</operation>
</portType>
<binding name="BookmarkWebServicePortBinding" type="tns:BookmarkWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="BookmarkWebService">
<port name="BookmarkWebServicePort" binding="tns:BookmarkWebServicePortBinding">
<soap:address location="http://localhost:8080/bookmark-javaee6/BookmarkWebService"/>
</port>
</service>
</definitions>